
body{
    margin: 0;
    padding: 0;
    background-image: url("https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg") ;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-blend-mode:luminosity;
}

/*-----------------------Header----------------------------------*/

#header{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.518);
}


/*-----------------------Content---------------------------------*/
#container{
    background-color: rgba(137, 90, 8, 0.495);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    padding-top: 40px;
}

#dice{
    display: flex;
    flex-direction: row;
}

.diceImg{
    margin: 2px;
    height: auto;
    width: 50px;
}

#diceValue{
    font-size: 25px;
}